body {
				color:#444;
				font-family:trebuschet ms, helvetica, arial, sans-serif;
				-webkit-transition: all 1s ease-in-out;
				background:#7B8996;
				background:#fff;
			}

body.command-mode {
	
	background:#444;

}

:focus{
	
	outline:none;

}

 #command {
	
	display:none;
	-webkit-transition: all 1s ease-in-out;
	height:0px;
	color:#ddd;
	line-height:30px;

}

 #command:before {
 	
 		content:" : ";
 		color:#fff;
 		margin-left:5px;


 }

.command-mode #command {
	
	display:block;
	min-height: 30px;
	height:30px;
	background:#222;
	-webkit-transition: all 1s ease-in-out;
	margin-top:10px;
	
}



			a {color:#222;}

			body > header {
				
				margin-top:5px;
				
				padding:5px;
/*				background:#444;
				text-shadow:0 2px 3px #444;*/

				text-shadow:0 0px 1px #444;
				text-transform:uppercase;
				background:whiteSmoke;
				box-shadow:
				0 1px 0 #CCC,
				 0 2px 0 #C9C9C9,
				 0 3px 0 #BBB,
				 
				 0 4px 1px rgba(0, 0, 0, .1),
				 0 0 5px rgba(0, 0, 0, .1),
				 0 1px 2px rgba(0, 0, 0, .3),
				 0 1px 3px rgba(0, 0, 0, .2),
				 0 3px 5px rgba(0, 0, 0, .25),
				 0 5px 5px rgba(0, 0, 0, .2),
				 0 10px 10px rgba(0, 0, 0, .15),
				 0 -10px 10px rgba(0, 0, 0, .15);
			}

			body > header:after
			{
			content:"";
    			display:table;
				clear:both;
			}

 			header{
 				
 			}

			h1 { font-size:90%; margin:5px;color:#222; }
			h2 { font-size:70%; color:#444; margin:5px;}

			#container{
				
				
				max-width:980px;
				margin:0 auto;
				overflow:hidden;
				-webkit-transition: all 1s ease-in-out;


			}

			#logo {
				border-right:5px solid #ED4444;
				font-size:120%;
				padding:2px 10px 5px;
				float:left;
				color:#fff;
				text-shadow:0 0 1px #999, 0 1px 0 #CCC, 0 2px 0 #C9C9C9, 0 3px 0 #BBB, 0 4px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
				-webkit-transition: all .3s ease-in-out;

			}

			#logo:hover{
				
				text-shadow:none;
				color:#999;
				padding-top:5px;
				
				
				border:none;

			}


			#section {margin:12px 3px 5px;float:left;font-size:100%;color:#444;}

			nav{margin:4px;float:left;}
			nav .menu li{display:inline-block;}
			nav .menu a {display:block;padding:5px; margin:3px; text-decoration:none; font-size:100%;color:#999;
				-webkit-transition: all .3s ease-in-out;
			}

			nav .menu a:hover {
				
				color:#fd4444;
			}

			.add-task,
			#enter-time {

				background:whiteSmoke;
				position:relative;
			
				margin:10px;
				border:1px solid #ccc;
				
				display:none;

				background-color: whiteSbackground-color:#ddd;
				margin-bottom: 20px;
				padding: 10px;
				min-height: 20px;
				border: 1px solid #EEE;
				border: 1px solid rgba(0, 0, 0, 0.05);
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
				-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
				box-shadow: 0 1px 0 #CCC, 0 2px 0 #C9C9C9, 0 3px 0 #BBB, 0 4px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);




			}

			.add-task > header {
				float:left;
				height:100%;
				font-size:30px;
			}
			
			.add-task .extra {
				
				display:none;

			}

			

		 input[type=text]
			{
				
				width: 400px;
				font-size: 120%;
				border-radius: 5px;
				padding: 5px;
				border:none;
				box-shadow: 0 0 5px #999 inset;

			
			

			}

			input:focus
			{
				outline:none;
				
			}

			.form label  {
				
				font-size:75%;
				color:#444;
				text-shadow: 1px 1px 0px #fff;
				display:block;
				font-style:italic;



			}

			.add-task button {
				
				font-size:150%;
				opacity:0;
				float:right;

			}

			.add-task form {
				
				margin-left:150px;

			}

			
			#enter-time #time_edit { width: 40px;}

			.task {
				
				border:1px solid #eee;
				padding-left:20px;
				background:#fff;
				position:relative;
				clear:both;
				margin: 5px 10px;
				border-radius:5px;
				box-shadow:0 0 0 1px #ddd, 0px 1px 3px rgba(77,77,77,.25);
				box-shadow:
				0 1px 0 #CCC,
				 0 2px 0 #C9C9C9,
				 0 3px 0 #BBB,
				 
				 0 4px 1px rgba(0, 0, 0, .1),
				 0 0 5px rgba(0, 0, 0, .1),
				 0 1px 3px rgba(0, 0, 0, .3),
				 0 3px 5px rgba(0, 0, 0, .2),
				 0 5px 10px rgba(0, 0, 0, .25),
				 0 10px 10px rgba(0, 0, 0, .2),
				 0 20px 20px rgba(0, 0, 0, .15);
				-webkit-transition: all .5s ease-in-out;
				color:#222;


			}

			.help {padding:5px;margin-bottom:5px;float:right;}
			.help .key { padding:3px 5px; border:1px solid #ccc; display:inline-block; margin-right:5px; border-radius:5px;
				/*box-shadow: 0 0 0 1px #666,0 1px 1px 1px #999, 0 3px 0 2px #ccc;*/
				box-shadow:
				0 1px 0 #CCC,
				 0 2px 0 #C9C9C9,
				 0 3px 0 #BBB,
				 
				 0 4px 1px rgba(0, 0, 0, .1),
				 0 0 5px rgba(0, 0, 0, .1),
				 0 1px 3px rgba(0, 0, 0, .3),
				 0 3px 5px rgba(0, 0, 0, .2),
				 0 5px 10px rgba(0, 0, 0, .25),
				 0 10px 10px rgba(0, 0, 0, .2),
				 0 20px 20px rgba(0, 0, 0, .15);
;
			}
			.help li  {display:inline-block; font-size: 40%; font-weight:normal; color:#999;}

			.task:after {
				content:"";
    			display:table;
				clear:both;

			}
			

			.task.complete {
				
				opacity:.25;
				box-shadow:none;
				background:#fff url(tick.png) 8px center no-repeat;
				background-size:18px;

			}

			.task.complete.selected {
				
				opacity:.75;

			}

			.task.complete > header {
				
				text-decoration: line-through;

			}

			.selected>.task {
				
				display:block;

			}

			.task>.history {
				display:none;
				background:#fff;	
			}
			.selected > .history { 

				display:block; 
		
			
				background:#fff;
				margin:20px;
			

			}

			.selected {
				
				box-shadow:0 0 0 1px #999, 0px 1px 3px rgba(77,77,77,.25);
				box-shadow:
				0 1px 0 #CCC,
				 0 2px 0 #C9C9C9,
				 0 3px 0 #BBB,
				 
				 0 4px 1px rgba(0, 0, 0, .1),
				 0 0 5px rgba(0, 0, 0, .1),
				 0 1px 3px rgba(0, 0, 0, .3),
				 0 3px 5px rgba(0, 0, 0, .2),
				 0 5px 10px rgba(0, 0, 0, .25),
				 0 10px 10px rgba(0, 0, 0, .2),
				 0 20px 20px rgba(0, 0, 0, .15);
				background:#efc;
				color:#222;

			}

			.selected > .history:before {
				

			}

			.history {
				clear:left;
				color:#999;
				font-size:75%;
				position:fixed;
				bottom:0;
				width:100%;
			}

			.history header
			{
				
				display:none;

			}

			.history li {
				
				margin:5px;

			}

			.task > header { margin:5px; float:left;}
			.task  h2 {}
			.task > section {
				
				float:left;

			}

			.task > .meta {
					
					position:absolute;
					right:10px;
					top:0px;
					margin:0px;

			
			}

			.selected > .meta li,
			.task:hover > .meta li{
				
				display:block;
				-webkit-transition: all .5s ease-in-out;

			}

			.due-date > .meta li.due-date {
				
				display:block;
				color:#fff;
				float:right;
				opacity:1;
				margin-top:9px;

			}



			.actions li,
			.meta li,
			.history li
			{ list-style-type:none;}

			.actions li,
			.meta li {
				
				float:left;
				margin-left:3px;

			}

			.meta  {
				
				font-size:45%;

			}

			.meta li {
				
				-webkit-transition: all .25s ease-in-out;
				opacity:0;

			}

			.task:hover .meta li { opacity:1;}

			.selected .meta li {
				
				opacity:.5;

			}

			.meta li a { 
				display:block;
				
				padding:3px;
				text-decoration:none;
				text-transform:uppercase;

			}

			.action a:hover {
				
				background:#eee;
				box-shadow:0 0 3px #999;

			}

			.new-task {
				border:1px dashed #eee;
				position:relative;
				clear:both;
				background:transparent;
				box-shadow:none;
				background:whiteSmoke;
			}

			.new-task.selected
			{
				background:#efc;
				border:2px dashed #999;
			}

			.new-task.selected header {
				
				margin:3px;

			}

			.new-task.selected h2:before {

				content:"+ ";

				
			}

			.new-task.selected h2:after {
				
				content:"Press Enter to add new task";
				margin-left:20px;
				font-weight:normal;
				float:right;

			}

			.new-task > header {
				
				font-style: italic;
				color:#999;
				margin:5px;

			}

			#tasks {}

			#contexts,
			#projects
			 {
				
				margin:5px;
				border:1px solid #ccc;
				box-shadow:0 0 5px #aaa;

			}

			#contexts li,
			#projects li
			 {
				list-style-type:none;

			}

			.context,
			.project
			 {
			
				background:#fff;
				margin:0;
				
				border-top:1px solid #eee;
					

			}

			.context a,
			.project a
			{
				
				padding:5px;
				margin:1px;
				display:block;
				font-size:60%;
				text-decoration:none;
				text-transform:uppercase;
				font-weight:bold;
				color:666;

			}

			.context.active,
			.project.active
			 {
				
				border-left:10px solid #ED4444;

			}

			.context a:before{
				
				content: "@";
				color:#999;

			}
			.project a:before {
				
				content: "#";
				color:#999;

			}

/*Subtasks*/
.task > .task { display:none;}
.with-subtasks .task > .task {
				
				display:block;
				margin-left:5px;
				border-left:5px solid #ccc;
			}

			.task .task > header {
				
				margin:5px;

			}


.theme-gr #tasks {
	padding-top: 5px;
float: left;
width: 61.8%;
margin-right: 0px;
min-width: 420px;
}

.theme-gr #contexts,
.theme-gr #projects {
margin: 10px;
border: 1px solid #CCC;
border-radius:5px;
box-shadow: 0 0 5px #aaa;
float: right;
width: 35.5%;
box-shadow:
				0 1px 0 #CCC,
				 0 2px 0 #C9C9C9,
				 0 3px 0 #BBB,
				 
				 0 4px 1px rgba(0, 0, 0, .1),
				 0 0 5px rgba(0, 0, 0, .1),
				 0 1px 3px rgba(0, 0, 0, .3),
				 0 3px 5px rgba(0, 0, 0, .2),
				 0 5px 10px rgba(0, 0, 0, .25),
				 0 10px 10px rgba(0, 0, 0, .2),
				 0 20px 20px rgba(0, 0, 0, .15);
}

#contexts h2,
#projects h2,
 {
	text-align: right;	
	text-transform:uppercase;
	font-size:100%;
	color:#444;
	text-shadow: 0 0  2px #fff, 0px 2px 5px #999;
	display:none;
	

}